/* HEADER donde va el logo,boton administrador boton usuario y una imagen
de un birrete */

header {
    position: sticky;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: #060606;
    color: rgb(253, 251, 251);
}

.border {
    position: relative;
    top: 20px;
    left: 300px;
    
}
.visibility-hidden {
    visibility: hidden;

}

hr {
    color: goldenrod;

}

/* seccion principal donde va el titulo,logo y un slogan*/

.Principal {
    text-align: center;
    margin-left: 10px;         
}
section h1 {
    font-style: arial;
    font-size: 50px;
}

.slogan{
   
    font-style: italic;
    font-size: 23px;
    margin-top: -40px;
}
.logo {
    margin: top -5px;;
}


/*TARJETAS*/

.tarjetas {
    position: relative;
    background-color: rgba(237, 241, 244, 0.383);
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;   
}

.registro { 
    background-color: rgb(235, 249, 235);
    border: 2px solid rgb(2, 117, 65);
    border-radius: 8px;
    width: 120px;

    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    
    margin: 15px;
    display: inline-block;
    text-align: center;
}
.codigo {
    background-color: rgb(238, 245, 251);
    border: 2px solid rgb(10, 77, 122);
    border-radius: 8px;
    width: 120px;

    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    
    margin: 15px;
    display: inline-block;
    text-align: center;

}
.galeria {
    background-color: rgb(248, 237, 253);
    border: 2px solid rgb(76, 7, 156);
    border-radius: 8px;
    width: 120px;

    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    
    margin: 15px;
    display: inline-block;
    text-align: center;
}
.descarga {
    background-color: rgb(253, 239, 231);
    border: 2px solid rgb(220, 87, 38);
    border-radius: 8px;
    width: 120px;

    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    
    margin: 15px;
    display: inline-block;
    text-align: center;
}


.green {
    color: rgb(2, 117, 65);   
}
.blue {
    color: rgb(10, 77, 122);

    
}
.purple {
    color: rgb(76, 7, 156);
}
.orangered {
    color: rgb(220, 87, 38);
}

/*FOOTER*/
footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: #060606;
    color: rgb(253, 252, 252);

}
a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.position-fixed {
    position: fixed;
    bottom: 70px;
    right: 20px;
}
     /*recurso*/
     .whatsapp-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: Solid 2px green;
     }  
     .boton {
        background-color: rgba(218, 165, 32, 0.996);
        font-size: 10px;
        border-radius: 5px;
        padding: 5px;

     }
    .boton:hover {
        background-color: white;
        font-size: 20px;
        border-radius: 8px;
        padding: 12px;
        color: goldenrod;
        border-color: goldenrod;
    }
    .enlace {
        text-decoration: none;
        padding: 10px;
    }
    .enlace:hover {
        text-decoration: dotted;
        color: goldenrod;
        padding: 10px;
        text-shadow: 5px goldenrod;
    }
    label {
        margin-bottom: 5px;
        margin-right: 15px;
        
    }
    
    .fregistro {
    background-color: rgb(235, 249, 235);
    border: 2px solid rgb(2, 117, 65);
    font-size: 30px;


    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
         
    }

    .fcodigo {
    background-color: rgb(238, 245, 251);
    border: 2px solid rgb(10, 77, 122);
    font-size: 30px;


    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

    }
    .fgaleria {
    background-color: rgb(248, 237, 253);
    border: 2px solid rgb(76, 7, 156);
    font-size: 30px;


    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

    }
    
    .fdescarga {
    background-color: rgb(253, 239, 231);
    border: 2px solid rgb(220, 87, 38);
    font-size: 30px;


    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;


    }
            
          
        
         
          
    
        
       
            
            
          
     

